// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
--ff-rubik: 'Rubik', sans-serif;

--cc-user-color: hsl(246, 80%, 60%);
--cc-work-color: hsl(15, 100%, 70%);
--cc-play-color: hsl(195, 74%, 62%);
--cc-study-color: hsl(348, 100%, 68%);
--cc-exercise-color: hsl(145, 58%, 55%);
--cc-social-color: hsl(264, 64%, 52%);
--cc-self-color: hsl(43, 84%, 65%);

--cc-vdb: hsl(226, 43%, 10%);
--cc-db: hsl(235, 46%, 20%);
--cc-dsb: blue: hsl(235, 45%, 61%);
--cc-pb: hsl(236, 100%, 87%);
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cc-vdb);
}