/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --cc-user-color: hsl(246, 80%, 60%);
  --cc-work-color: hsl(15, 100%, 70%);
  --cc-play-color: hsl(195, 74%, 62%);
  --cc-study-color: hsl(348, 100%, 68%);
  --cc-exercise-color: hsl(145, 58%, 55%);
  --cc-social-color: hsl(264, 64%, 52%);
  --cc-self-color: hsl(43, 84%, 65%);
  --cc-vdb: hsl(226, 43%, 10%);
  --cc-db: hsl(235, 46%, 20%);
  --cc-dsb: hsl(235, 45%, 61%);
  --cc-pb: hsl(236, 100%, 87%);
  /*========== Fonts & Weights ==========*/
  --ff-rubik: 'Rubik', sans-serif;
  --font-light: 300;
  --font-medium: 400;
  --font-heavy: 500;
}

/*==================== BASE ====================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--cc-vdb);
  font-family: var(--ff-rubik);
  font-size: 1rem;
  color: white;
}

ul {
  list-style: none;
  cursor: pointer;
}

li:hover {
  color: white;
}

main {
  gap: 2em;
  width: 80%;
  margin: 10vh auto;
  margin: 3rem 1rem 3rem 1rem;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.card {
  margin-bottom: 2rem;
}

.card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5rem;
}

.card-details {
  background-color: var(--cc-db);
  padding: 1rem;
  border-radius: 15px;
}

.card-details:hover {
  background-color: var(--cc-dsb);
  cursor: pointer;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  width: 100%;
  max-height: 40px;
  border-radius: 1em 1em 0em 0em;
  overflow: hidden;
}

.banner img {
  margin-right: 1.5em;
  display: block;
  margin-left: auto;
  -o-object-position: 0 -5px;
  object-position: 0 -5px;
}

span {
  font-size: 0.75rem;
  color: var(--cc-pb);
}

h1, h3 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
}

.hours {
  font-size: 1.5rem;
}

/*==================== PROFILE STYLING ====================*/
.profile {
  margin-left: 1rem;
}

.profile-card {
  background-color: var(--cc-db);
  border-radius: 15px;
}

.profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  background-color: var(--cc-user-color);
  border-radius: 15px;
}

.profile-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid white;
  border-radius: 100%;
  max-width: 100%;
  width: 60px;
}

/*==================== NAV LIST STYLING ====================*/
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  color: var(--cc-dsb);
}

/*==================== CARD STYLING ====================*/
.work-card {
  background-color: var(--cc-work-color);
  border-radius: 20px;
}

.play-card {
  background-color: var(--cc-play-color);
  border-radius: 20px;
}

.play-card {
  background-color: var(--cc-play-color);
  border-radius: 20px;
}

.study-card {
  background-color: var(--cc-study-color);
  border-radius: 20px;
}

.exercise-card {
  background-color: var(--cc-exercise-color);
  border-radius: 20px;
}

.social-card {
  background-color: var(--cc-social-color);
  border-radius: 20px;
}

.self-care-card {
  background-color: var(--cc-self-color);
  border-radius: 20px;
}

/*==================== MEDIA QUERIES ====================*/
@media screen and (min-width: 371px) {
  .profile-details {
    padding-left: 5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h1 {
    display: block;
  }
  ul {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media screen and (min-width: 650px) {
  main {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
        grid-template-areas: "profile-card profile-card" "work-card play-card" "study-card exercise-card" "social-card self-care-card";
  }
  .profile-card {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: profile-card;
  }
  .work-card {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: work-card;
  }
  .play-card {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: play-card;
  }
  .study-card {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: study-card;
  }
  .exercise-card {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: exercise-card;
  }
  .social-card {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: social-card;
  }
  .self-care-card {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: self-care-card;
  }
}

@media screen and (min-width: 1000px) {
  main {
    max-width: 1000px;
    max-height: 500px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
        grid-template-areas: "profile-card work-card play-card study-card" "profile-card exercise-card social-card self-care-card";
  }
  .profile-card {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: profile-card;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .profile-details {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-picture {
    justify-self: flex-start;
    margin-bottom: .5rem;
  }
  .profile {
    padding: 0;
    margin: 0;
  }
  .profile-name {
    max-width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .list-item {
    font-size: 1rem;
    margin: .3rem;
  }
  .work-card {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: work-card;
  }
  .exercise-card {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: exercise-card;
  }
  .play-card {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: play-card;
  }
  .study-card {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: study-card;
  }
  .social-card {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: social-card;
  }
  .sef-care-card {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: self-care-card;
  }
  .card {
    margin-bottom: 0;
  }
  .card-content {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  .card-content p {
    font-size: 2rem;
    font-weight: 300;
  }
  .card-content span {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */